
<%- include("partials/header.ejs") -%>

<!-- Bloc Heure -->
<div class="mt-5">
    <div class="container">
        <div class="clock">
            <canvas id="clockCanvas" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<!-- Bloc Date -->
<div class="mt-1">
    <div class="container">
        <div class="date">
            <p id="dayDate" name="dayDate"></p>
        </div>
    </div>
</div>

<%- include("partials/jQueryAndBS.ejs") -%>

<script src="JS/clock.js"></script>
<script src="JS/date.js"></script>

<%- include("partials/footer.ejs") -%>
