body {
    background-color: lightgrey;
}

.clock {
    margin: 0 auto;
    width: 400px;
}
.date {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    text-align: center;
}
